.modal h3 {
    margin: 0;
    font-family: "Georgia", serif;
}

.alert-notification, .form-loading {
    display:none;
}

.bootstrap-checkbox-holder {
    padding-top: 3pt;
}

.module-controls-container .alert-notification {
    display: none;
}

.transaction-action-button {
    display:inline-block;
}

span.emerchantpay-logo {
    background-image: url("./img/logo.png");
    background-position: left center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    padding-left: 20px;
}